/*#####################*/
/* CSS pour l'attente du chargement de la page */
/*#####################*/

#loading {
  background-color: white;
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 999;
}

#loading img{
  position: absolute;
  left: 0;
  right: 0;
  top: 47%;
  margin-right: auto;
  margin-left: auto;
}

/*#####################*/
/* CSS GENERAL */
/*#####################*/

@font-face {
  font-family: 'Chaparral';
  src: url("../font/ChaparralPro-Regular.otf") format("opentype");
}

/*.titretexte {
  font-size: 40px;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 35px;
  font-color: black;
}
.commentaireamazon {
  font-size: 15px;
}
.container {
  text-align: center; 
  display: block;
  width: 100%;
}
.equipeimg {
  margin-right: auto;
  display: block;
  vertical-align: center;
  margin-left: 350px;
}
.rowequipe {
  background-color: #E5E5E5;
}
.imgblog {
  margin-right: auto;
  display: block;
  vertical-align: center;
  margin-left: 340px;
  width: 50%;
  height: 50%;
}
.row {
  text-align: center;
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-right: -15px;
}
#section2{
  margin-top: 50px;
}*/
p, h1, h2, h3, h4, h5, h6, a{
  font-family: 'Chaparral';
}
header {
  background: #FFFFFF;
  color:#555;
}
h1 {
  font-size:50px;
}
h2 {
  font-family:bold;
  margin-top: 80px;
  margin-bottom: 40px;
}
p{
  margin: 0px 0px;
}
.image_section{
  margin-top: 60px;
  text-align: center;
}
.body_color {
  background-color: #FFFFFF;
}
.row{
  margin-right: 0px;
  margin-left: 0px;
  margin-top: none;
  margin-bottom: none;
}
header .row{
  text-align: center;
}
/* Div pour ancre */

/*#####################*/
/* HEADER */
/*#####################*/

.photoheader{
  width: 100%; 
  height: 100vh;
}

#logo_header{
  display: none;
  width: 30%;
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.texte_header{
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.texte_header h2{
  color: white;
  font-size: 40px;
}

@media screen and (min-width: 550px) and (max-width: 1000px) {
  #logo_header {
    width: 40%
  }
  .texte_header{
    top: 66%;
  }
}
@media screen and (max-width: 550px) {
  .photoheader{
    width: 100%; 
    height: auto;
  }
  #logo_header {
    width: 25%
  }
  .texte_header{
    top: 10%;
  }
  .texte_header h2{
    font-size: 20px;
  }
}

/*#####################*/
/* NAV BAR */
/*#####################*/

.mynav .logo{
  width: 60px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-right: 15px;
  margin-left: 10px;
  margin-right: 20px;
}
.mynav .title_responsive h1{
  display: none;
}
.mynav ul{
  margin: 0;
}
.mynav .navbar-left li{
  height: 60px;
  border-right: solid 1px #DDDDDD;
  border-radius: 0.10px;
  width:auto;
}
.mynav .navbar-left li:first-child{
  border-left: solid 1px #DDDDDD;
}
.mynav .navbar-left li:last-child{
  display: none;
}
.mynav li a.nav_list_left {
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.nav_bar_rigth{
  float: right;
  list-style: none;
}

.mynav .nav_bar_rigth li{
  height: 50px;
  border: none;
}
.mynav .nav_bar_rigth .panier{
  color: white;
  background-color:grey;
  font-size: 20px;
  padding: 10px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}
.mynav .nav_bar_rigth i {
  width: 26px;
}

/* Rsponsive NAV BAR */

@media screen and (max-width: 1080px){
  .mynav .logo{
    width: 44px;
    padding-right: 0px;
    margin-left: -13px;
    margin-right: 5px;
  }
  
  .navbar-collapse{
    padding-right: 0px;
  }

  .mynav li a.nav_list_left {
    margin-right: 0px;
    margin-left: 0px;
  }
  .nav_bar_rigth{
    padding-left: 2px;
    margin-right: -13px !important;
  }
}
@media screen and (max-width: 768px){
  .mynav .title_responsive{
    width: 270px;
  }
  .mynav .title_responsive h1{
    display: block;
    color: white;
    font-size: 20px;
    width: 200px;
    float: right;
  }
  .mynav .logo{
    width: 60px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 0px;
  }
  .mynav .navbar-left li{
    height: initial;
  }
  .mynav .navbar-left li:first-child{
    margin-top: 15px;
    border-left: none;
  }

  .mynav li a.nav_list_left {
    padding-bottom: initial;
    padding-top: initial;
  }
  .mynav .navbar-left li:last-child{
    display: block;
  }
  .nav_bar_rigth{
    display: none;
  }
}

/*#####################*/
/* SECTION_1 ==> Produits / Video / Avis */
/*#####################*/

#section1 .image_couple{
  width: 65%;
}
#section1 .container_boite .img_boite{
  width: 130%;
  margin-right: auto;
  margin-left: auto;
}
.container_boite{
  text-align: center;
}

/* Commentaires des boites */
#section1 .comment_boite_right{
  margin-top: 10%;
  text-align: justify;
  font-size: 20px;
}
#section1 .comment_boite_left{
  margin-top: 14%;
  text-align: justify;
  font-size: 20px;
}

/* Commentaire entre les boites */
#section1 .comment_entre_boite{
  text-align: justify;
  font-size: 20px;
}
#section1 .modal-content{
  width: 150%;
}
#section1 .modal-content .boite{
  width: 50%;
  height: 50%
}
#section1 .modal-body{
  display: flex;
  text-align: justify;
}
#section1 .boiteouverte2 {
  margin-bottom: -50px;
}
#section1 .modal-body span{
  font-weight: bold; 
}
#section1 .modal-body p:nth-child(-n+7) {
  margin-top: 6px;
}
/* Image famile */
#section1 .image_famille{
  width: 60%;
}

#section1 .youtube {
  text-align: center;
  margin-top: 60px;
}

/* Slider commentaire */
.lSSlideOuter .lightSlider {
  max-width: 700px;
  margin: 0 auto;
}
#section1 .bloc_avis{
  margin-top: 30px;
  text-align: center;
}

@media screen and (max-width: 990px){
  #section1 .container_boite .img_boite{
    width: 100%;
  }
  #section1 .comment_boite_right {
    margin-top: 10%;
  }  
  #section1 .comment_boite_left {
    margin-top: 20%;
  }
  #section1 .comment_entre_boite{
    margin-top: 4%;
  }
  .youtube iframe{
    width: 200px;
    height: 175px;
  }
}

@media screen and (max-width: 768px){
  #section1 .comment_entre_boite{
    background-color: grey;
  }
  #section1 .comment_boite_right, 
  #section1 .comment_boite_left, 
  #section1 .comment_entre_boite {
    margin-top: 8%;
  }
  .youtube iframe{
    width: 150px;
    height: 142px;
  }
  #section1 .modal-content{
    width: 100%;
  }
  #section1 .modal-body{
    display: block;
  }
}

/* Annimation des images */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* ANIMATION DES COMMENTAIRES/DES AVIS */


#section1 .commentaireamazon{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}
#section1 .cycle-slideshow {
    width: 45%;
    min-width: 200px;
    max-width: 500px;
    margin: 10px auto;
    padding: 0;
    position: relative;
}
/*#####################*/
/* SECTION 3 DEVENIR PARTENAIRE */
/*#####################*/

#section2 {
  text-align: center;
  background-color: #E5E5E5;
}

#section2 .image_section img{
  width: 50%;
}
#section2 .les_partenaires{
  margin-top: 40px;
}
#section2 .les_partenaires li{
  list-style: none;
  text-align: justify;
}
#section2 .les_partenaires li:first-child{
  margin-top: 20px;
}
#section2 .les_partenaires .colonegauche img,
#section2 .les_partenaires .colonedroite img{
  width: 20%; 
  height: 10%;  
}
#section2 .les_partenaires .colonecentre img{
  width: 10%;
  height: 10%;
}

/*#####################*/
/* SECTION 3 LOCALISATION */
/*#####################*/

#section3{
  text-align: center;
}
#section3 .image_section img.internet{
  width: 35%;
}
#section3 .image_section img.magasin{
  width: 50%;
}
#section3 .point_de_vente img{
  width: 50%;
}
#section3 .maps iframe{
  border-style: inherit;
  width: 640px;
  height: 500px;
}
@media screen and (max-width: 768px){
  #section3 .maps iframe{
    width: 350px;
    height: 273px;
  }
}
/*#####################*/
/* SECTION 4 NOS CREATEURS */
/*#####################*/

#section4{
  margin-top: 100px;
  text-align: center;
  background-color: #E5E5E5;
}
#section4 .image_section{
  margin-bottom: 70px;
}
#section4 .image_section img{
  width: 35%;
  height: 35%;
}

#section4 .img_equipe{
  width: 195px;
  height: 217px;
}
#section4 .photocadre {
  position: absolute;
  top: -86px;
  left: 0;
  right: 0;
  width: 280px;
  height: 390px;
  margin: 0 auto;
}
#section4 .feature p{
  text-align: justify;
}
#section4 .text_createur{
  margin: 90px auto 30px auto;
  width: 300px;
}
@media screen and (max-width: 768px){    
  #section4 .bloc_photo{
      margin-top: 90px;
    } 
}

/*#####################*/
/* BOX BLOG */
/*#####################*/

/* Feuille de style Mansory */

.masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 0.3em;
    width: 100%;
    border: 2px groove black;
    margin-right: auto;
    margin-left: auto;
    padding-left: 60px;
}
li a .masonry {
  color : black;
}
#section5{
  text-align: center;
}
#section5 .imgblog{
  width: 50%;
}
#section5 .nav_archive li:first-child{
  font-size: 18px;
  margin-top: 0px;
}
#section5 .nav_archive li{
  margin-top: 5px;
  list-style: none;
  text-align: justify;
}
#section5 .nav_archive a{
  color: inherit;
  text-decoration: none;
}
#section5 .item a{
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}
#section5 .item .title{
  margin-top: 10px;
  margin-bottom: 10px;
}
#section5 .item .btn{
  margin-bottom: 10px;
  margin-top: 10px;
}
/*#####################*/
/* CONTACT */
/*#####################*/
#section6{
  background-color: #E5E5E5;
}
#section6 .btn-info{
  color: white;
  background-color:grey;
  background-image: none;
  border: none;
}
#section6 h2 {
margin-top : 100px;
padding-left :40px;
}

#section6 img {
margin-right: 80px;
margin-top : 40px;

}
#section6 img {
margin-top: -110px;
margin-right : 100px;
}
#section6 p {
font-size: 18px;
}
/*#####################*/
/* FOOTER */
/*#####################*/

/* Set the fixed height of the footer here */
#footer {
  width:100%;
  height: 60px;
  background-color: grey;
  margin-top:5px;
  padding-top:20px;
  padding-bottom:20px;
}
#footer a {
color: white;
font-size: 18px;
}

.fa.fa-twitter {
  font-size: 25px;
}