/*#####################*/
/* CSS GENERAL */
/*#####################*/

.container {
  text-align: center; 
  display: block;
  width: 100%;
}
.row2{
  text-align: center;
  display: absolute;
  margin-top: none;
  margin-bottom: none;
}
.row {
  text-align: center;
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-right: -15px;
}

#section2{

  margin-top: 50px;
}

header {
  background: #FFFFFF;
  color:#555;
}

h1 {
  font-size:50px;
}

h2 {
  font-family:bold;
}

h5 {
  margin-top: 0px;
  color: white;
  max-height: 30px;
  overflow: hidden;
}
p {
  margin-top: 30px;
}

.body_color {
	background-color: #FFFFFF;
  font: normal 400 16px/1.4 "europa","Helvetica Neue",Helvetica,sans-serif;
}

/* Div pour ancre */

.divider {
  height:50px;
}

/*#####################*/
/* NAV BAR */
/*#####################*/


.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav li {
  border-right: solid 1px; 
  border-color: #DDDDDD ;
  border-radius: 0.05px;
}

.photoheader img{
  width: 200px;
  height: 200%;
}

.nav_bar_row{
  margin-top: initial !important;
  margin-bottom: initial !important;
}

.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

.navbar-nav {
  margin: 1px 1px; 
}  



.navbar{
    height: 50px;
    border-radius: 0;
  vertical-align: middle;
}
.navbar.affix{
    top: 0px; 
    z-index: 100;
    width: 100%;
    vertical-align:middle;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
  outline:0;
}

#logo{
  width: 50px;
  height: 50px;
  margin-top:-15px;
  border: inherit;
}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}

/*#####################*/
/* SECTION_1 */
/*#####################*/

/*#####################*/
/* ANIMATION DES IMAGES */
/*#####################*/

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* Icon Hang */
@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icon-hang:before {
  content: "\f078";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-hang:hover:before, .hvr-icon-hang:focus:before, .hvr-icon-hang:active:before {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.modal-body{
  display: flex;
}

.video{

  margin-top: 20px;
}

#divid1{
  margin-top: -45px;

}

.testimage{
  margin-left: -165px;
}
.testimage2{
  margin-left: -115px;
}
.blinkin {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

/*#####################*/
/* SECTION 3 DEVENIR PARTENAIRE */
/*#####################*/

.container_section_3{
  clear: both;
  text-align: center;
}

i.fa.fa-amazon{
  font-size:42px;
  margin-top: 5px;
}

.listemail{
  
list-style-type:none;
}


/*#####################*/
/* SECTION 4 NOS CREATEURS */
/*#####################*/

}

.feature img {
  margin-bottom: 2em;
}
.feature {
  color: #444444;
  font-weight: 300;
  letter-spacing: 1px;
}

.metierscrea{
  margin-top: -10px
}

.texte {
  margin-top: 85px;
}

.photocadre {
  margin-left: -68px;
  margin-top: -150px;
}
/*#####################*/
/* BOX BLOG */
/*#####################*/

/* Feuille de style Mansory */

.masonry { /* Masonry container */
    column-count: 2;
    column-gap: 1em;
    -moz-column-count: 2;
    -moz-column-gap: 1em;
}

.item { /* Masonry bricks or child elements */
    display: inline-block;
    margin: 0 0 0.3em;
    width: 100%;
    border: 2px solid black;
    font-color : black;
}
li .item {
  font-color: black;
}

/*#####################*/
/* FOOTER */
/*#####################*/

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}

.imagebambin{
  margin-left: 200px;
};
}
.video{
  display: inline; 
  color:#000000;
}
/* ANIMATION DES COMMENTAIRES/DES AVIS */


